:root {
    --dark-color: #272727;
    --bright-color: #afafaf;
}

body {
    background-color: var(--dark-color);
    color: var(--bright-color);
}

section {
    text-align: center;
}

ul {
    list-style-type: none;
}

h1, h2, button, ul, p {
    color: var(--bright-color); font-family: 'Helvetica Neue', sans-serif; letter-spacing: -1px; line-height: 1;
}

button {
    background-color: var(--bright-color);
    border-radius:12px;
    border:1px solid var(--dark-color);
    display:inline-block;
    cursor:pointer;
    color: var(--dark-color);
    padding:5px 5px;
    text-decoration:none;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

input {
    color: var(--dark-color);
    border-radius:12px;
}

#backBtn, #modeBtn {
    margin: 15px;
}

.small {
    font-size: medium;
}

.big {
    font-size: large; font-weight: bold;
}